<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>user page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row p-2" style="background-color: rgb(52, 58, 64); color: rgb(255, 255, 255);">
        <div class="col-md-10 my-auto">
            <div style="font-size:large;">
                <span><strong th:text="@{{email} (email=${user.getEmail()})}"></strong></span>
                <span>with roles:</span>
                <span th:each="role : ${user.getRoles()}">
                <span th:if="${role.getValue()} == 'ROLE_ADMIN'">ADMIN</span>
                <span th:if="${role.getValue()} == 'ROLE_USER'">USER</span>
                </span>
            </div>
        </div>
        <div class="col-md-2 my-auto">
            <div style="text-align: right;"><a class="nav-link" href="/logout" style="color: rgb(165, 164, 164);">Logout</a></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 100vh;" >
        <div class="col-md-2 m-0 p-0" style="height: min-content;">
            <ul class="nav nav-pills flex-column">
                <span th:each="role : ${user.getRoles()}">
                <li class="nav-item" th:if="${role.getValue()} == 'ROLE_ADMIN'">
                    <a class="nav-link  active" href="#">Admin</a>
                </li>
                </span>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="background-color: rgb(248, 249, 250);">
            <h1>Admin page</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users/new">New User</a>
                </li>
            </ul>
            <div class="container-fluid border rounded p-0">
                <div class="m-2 mb-0"><h3>All users</h3></div>
                <div class="m-0 p-4 border-top" style="background-color: white;">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                First name
                            </th>
                            <th>
                                Last name
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="currentUser : ${users}">
                            <td th:text="@{{id} (id=${currentUser.getId()})}">id</td>
                            <td th:text="@{{name} (name=${currentUser.getName()})}">name</td>
                            <td th:text="@{{surname} (surname=${currentUser.getSurname()})}">surname</td>
                            <td th:text="@{{age} (age=${currentUser.getAge()})}">age</td>
                            <td th:text="@{{email} (email=${currentUser.getEmail()})}">email</td>
                            <td>
                                <span th:each="role : ${currentUser.roles}">
                                    <span th:if="${role} == 'ROLE_ADMIN'">ADMIN</span>
                                    <span th:if="${role} == 'ROLE_USER'">USER</span>
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="@{#editModal{id} (id = ${currentUser.getId()})}">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="@{#deleteModal{id} (id = ${currentUser.getId()})}">Delete</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ModalEdit-->
<div th:each="currentUser : ${users}" class="modal fade" th:id = "@{editModal{id} (id = ${currentUser.getId()})}" tabindex="-1" role="dialog" th:aria-labelledby="@{editModalLabel{id} (id = ${currentUser.getId()})}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="@{editModalLabel{id} (id = ${currentUser.getId()})}">Edit user</h5>
            </div>
            <div class="modal-body">
                <div  class="container w-50">
                    <form th:id = "@{editUserForm{id} (id = ${currentUser.getId()})}" th:method="PATCH" th:action="@{/admin/users/{id} (id = ${currentUser.getId()})}" th:object="${formUser}">
                        <div class="form-group py-2">
                            <label th:for="@{name{id} (id = ${currentUser.getId()})}"><b>First name</b></label>
                            <input type="text" class="form-control" th:id = "@{name{id} (id = ${currentUser.getId()})}" placeholder="First name" name="name" th:value = ${currentUser.name}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{surname{id} (id = ${currentUser.getId()})}"><b>Last name</b></label>
                            <input type="text" class="form-control" th:id="@{surname{id} (id = ${currentUser.getId()})}" placeholder="Last name" name="surname" th:value = ${currentUser.surname}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{age{id} (id = ${currentUser.getId()})}"><b>Age</b></label>
                            <input type="number" class="form-control" th:id="@{age{id} (id = ${currentUser.getId()})}" placeholder="age" name="age" th:value = ${currentUser.age}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{email{id} (id = ${currentUser.getId()})}"><b>Email</b></label>
                            <input type="email" class="form-control" th:id="@{email{id} (id = ${currentUser.getId()})}" placeholder="mail@mail.ru" name="email" th:value = ${currentUser.email}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{pass{id} (id = ${currentUser.getId()})}"><b>Password</b></label>
                            <input type="password" class="form-control" th:id="@{pass{id} (id = ${currentUser.getId()})}"  placeholder="password" name="password" value="">
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{roles{id} (id = ${currentUser.getId()})}"><b>Roles</b></label>
                            <select multiple class="form-control" th:id="@{roles{id} (id = ${currentUser.getId()})}" size="2" name="roles">
                                <option th:if="${currentUser.hasUserRole()}" th:value="'ROLE_USER'" th:text="USER" selected></option>
                                <option th:unless="${currentUser.hasUserRole()}" th:value="'ROLE_USER'" th:text="USER"></option>
                                <option th:if="${currentUser.hasAdminRole()}" th:value="'ROLE_ADMIN'" th:text="ADMIN" selected></option>
                                <option th:unless="${currentUser.hasAdminRole()}" th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" th:form="@{editUserForm{id} (id = ${currentUser.getId()})}" value="Edit">
            </div>
        </div>
    </div>
</div>
<!--ModalDelete-->
<div th:each="currentUser : ${users}" class="modal fade" th:id = "@{deleteModal{id} (id = ${currentUser.getId()})}" tabindex="-1" role="dialog" th:aria-labelledby="@{deleteModalLabel{id} (id = ${currentUser.getId()})}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="@{deleteModalLabel{id} (id = ${currentUser.getId()})}">Delete user</h5>
            </div>
            <div class="modal-body">
                <div  class="container w-50">
                    <form th:id = "@{deleteUserForm{id} (id = ${currentUser.getId()})}" th:method="DELETE" th:action="@{/admin/users/{id} (id = ${currentUser.getId()})}">
                        <div class="form-group py-2">
                            <label th:for="@{name{id} (id = ${currentUser.getId()})}"><b>First name</b></label>
                            <input disabled type="text" class="form-control" th:id = "@{name{id} (id = ${currentUser.getId()})}" placeholder="First name" name="name" th:value = ${currentUser.name}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{surname{id} (id = ${currentUser.getId()})}"><b>Last name</b></label>
                            <input disabled type="text" class="form-control" th:id="@{surname{id} (id = ${currentUser.getId()})}" placeholder="Last name" name="surname" th:value = ${currentUser.surname}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{age{id} (id = ${currentUser.getId()})}"><b>Age</b></label>
                            <input disabled type="number" class="form-control" th:id="@{age{id} (id = ${currentUser.getId()})}" placeholder="age" name="age" th:value = ${currentUser.age}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{email{id} (id = ${currentUser.getId()})}"><b>Email</b></label>
                            <input disabled type="email" class="form-control" th:id="@{email{id} (id = ${currentUser.getId()})}" placeholder="mail@mail.ru" name="email" th:value = ${currentUser.email}>
                        </div>
                        <div class="form-group py-2">
                            <label th:for="@{roles{id} (id = ${currentUser.getId()})}"><b>Roles</b></label>
                            <select disabled multiple class="form-control" th:id="@{roles{id} (id = ${currentUser.getId()})}" size="2" name="roles">
                                <option th:if="${currentUser.hasUserRole()}" th:value="'ROLE_USER'" th:text="USER" selected></option>
                                <option th:unless="${currentUser.hasUserRole()}" th:value="'ROLE_USER'" th:text="USER"></option>
                                <option th:if="${currentUser.hasAdminRole()}" th:value="'ROLE_ADMIN'" th:text="ADMIN" selected></option>
                                <option th:unless="${currentUser.hasAdminRole()}" th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger" th:form="@{deleteUserForm{id} (id = ${currentUser.getId()})}" value="Delete">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>